# ignora os binários
*.

# Mas não ignora diretórios
!*/

# E não ignora arquivos com extensão
!*.c
!*.cpp
!*.h
!*.md
!*.txt
!*.py
!*.js
!*.java

# E mantém arquivos específicos que você sabe que são importantes mesmo sem extensão
!Makefile
!LICENSE
!README

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/

cmake-build-debug/

cmake-build-debug-gcc/

*.dSYM
.DS_Store

Testes/

